.button_with_icon {
    position: absolute;
    height: 40px;
    align-items: center;
    justify-content: center;
    /* border-radius: 20% square; */
    font-family: Roboto;
	font-style: normal;
	font-weight: normal;
    color: white;
    border: none;
    outline: none;
  }
  .fa-plus{
    font-display: thin;
    box-sizing: initial;
  }
 .button_with_icon{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    cursor: pointer;
 }