button {
    position: absolute;
    height: 25px;
    align-items: center;
    border-radius: 20% square;
    cursor: pointer;
    font-family: Roboto;
	font-style: normal;
	font-weight: normal;
    font-size: small;
    margin-left:1rem;
    background-color: rgb(35, 35, 226);
    border-radius: 2px;
    box-shadow: 0.5px 1px 1px 1px rgba(57, 91, 225, 0.5);
    color: white;
    border: none;
    outline: none;
  }
  