section {
  margin-left: 1rem;

}
.search-container {
  display: -ms-flexbox;
  display: flex;
  width: 33%;
  height: 40px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: small;
}
header{
  margin-bottom: 1rem;
}
input {
  border-radius: 4px;
  background-color:rgba(255,255,255,1);
  box-shadow: 0 0 5pt 0.5pt #f1eded;
  border: rgba(232,232,232,1) 1px solid;
  /* padding-right: 25px; */
  // background: transparent url("img.svg") no-repeat right ;
  background-size: 17px;
}
input:focus-visible{
  outline: 0;
  box-shadow: 0 0 5pt 2pt #f1eded;
  background-color: rgba(255,255,255,1);
  border: rgb(218, 215, 215) 1px solid;
}

