$highlightColor: rgba(2,33,85);
$whiteColor: rgba(255,255,255);
$fontFamily: Roboto;
$fontSize: 16px;

.navItem{
    color: $whiteColor;
    width: 235px;
    border-radius: 2px;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
        .navIcons {
            margin-top: 16px;
            align-items: center;
        }
        .dashboardTabs{
            font-family: $fontFamily;
            font-style: normal;
            font-weight: normal;
            text-align: center;
            align-items: center;
            font-size: $fontSize;
            color: $whiteColor;
            padding-top: 3px;
        }
        #navigationButton{
            align-items: center;
            height: 90px;
            border: 0;
            background-color:transparent;
            border-radius:0;
            margin-top:-5px;
            width: 235px;
        }
        #navigationButton:hover{
            background-color:$highlightColor;
        }
        #navigationButton:selected{
            background-color:$highlightColor;
        }
        Button:focus {
            background-color: $highlightColor;
            box-shadow:none !important;
        }
        .activeBtn{
            background-color: $highlightColor !important;
        }
}

@media screen and (max-width: 400px) {
    .navbarContainer{
        height: 70;
        margin-top: 0px;
    }
    .navItem{
        height: 40;
        .navIcons {
            padding-top: -4px;
            align-items: center;
            max-width:20;
            max-height: 10;
        }
        .dashboardTabs{
            font-size: 12px;
        }
    }
}
