$highlightColor: rgba(2,33,85);
$whiteColor: rgba(255,255,255);
$fontFamily: Roboto;
$fontSize: 16px;

.navItem{
    color: $whiteColor;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0px;
    margin-top: 0px;
        .navIcons {
            margin-top: 16px;
            align-items: center;
        }
        .dashboardTabs{
            font-family: $fontFamily;
            font-style: normal;
            font-weight: normal;
            text-align: center;
            align-items: center;
            font-size: $fontSize;
            color: $whiteColor;
        }
        #navigationButton{
            align-items: center;
            height: 100%;
            margin: 0px;
            border: 0;
            background-color:transparent;
            border-radius:0;
            box-shadow:none !important;
            width: 200px;
        }
        #navigationButton:hover{
            background-color:$highlightColor;
        }
        Button:focus {
            background-color: $highlightColor;
        }
        .activeBtn{
            background-color: $highlightColor !important;
        }
}

