$primaryCOlor: rgba(2,33,105);
$fontFamily: Roboto;

.boaIcon{
    width: 397px;
}
.bofacontainer{
    height: 80px;
}

.verticalBar{
    align-items: right;
    text-align: right;
    justify-content: end;
    height: 100%;
    border-right: 3px solid $primaryCOlor;
    
}

.pcoeText{
    text-align: left;
    font-family: $fontFamily;
    justify-content: center;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    color: $primaryCOlor;
    margin-top: 20px;
}
