$primaryCOlor: rgba(2,33,105);
$fontFamily: Roboto;

.boaIcon{
    width: 397px;
    margin-top: 10px;
    margin-right: 17px;
}
.bofacontainer{
    margin-top: 0;
}
.headerContainer{
    background-color: transparent;
}

.verticalBar{
    align-items: right;
    text-align: right;
    justify-content: end;
    border-right: 3px solid $primaryCOlor;
    
}

.pcoeText{
    text-align: left;
    font-family: $fontFamily;
    justify-content: center;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    color: $primaryCOlor;
    margin-top: 20px;
    margin-left: 7px;
}
@media screen and (max-width: 400px) {
    .pcoeText{
        font-size: 18px;
    }
    .verticalBar{
        height: 50px;
    }
    .bofacontainer{
        height: 80;
    }
}