body{
    margin: 0 auto;
    background-color: rgba(241, 238, 238, 0.973) !important;
}
.logo_container,.rule_container{
    // width:1080px;
    margin: 0 auto;
    clear:both;
}
header{
    min-height:60px;
    padding: 10px;
    background-color: rgb(222, 232, 232);
    .logo{
        width:238px;
        float:left;
    }
    .logo_text{
        float:left;
        border-left: 2px solid rgb(44, 69, 116);
        line-height: 45px;
        margin: 0 0 0 15px;
        padding: 0 15px;
        font-family: Arial, Helvetica, sans-serif;
        color: rgb(44, 69, 116);
    }
}
.clear{
    clear: both;
}
.rule_container{
    padding:10px 0px;
    .rule_effect_label{
        display:block;
        color:blue;
        font-weight:500;
    }
    .box{
        border:1px solid rgb(212, 208, 208);
        border-radius:4px;
        padding:45px 15px;
        display:flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap:wrap;
    }
}
.readonlyInput{
    background-color: rgb(245 241 241 / 99%);
}
.create_group_wrapper{

    h2{
        color: rgba(2,33,105,1);
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        padding-left: 0px;
    }
}
.filters_card_container{
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 1px 1px 1px 1px rgba(99, 98, 98, 0.2);
    padding: 20px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: rgba(118,118,118,1);

}
select{
    border: 1px solid rgb(236, 234, 234);
    background-color: #fff;
    border-radius: 5px;
    height: 35px;
}
input{
    height: 35px;
    border: 1px solid #eceaea;
    box-shadow: none;
    border-radius: 5px;

}